<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Cookie Market</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	</head>

	<body>

		<!-- Navigation -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'index' %}">Cookie Market</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'samoas' %}">Samoas</a></li>
					<li><a href="#">Thin Mints</a></li>
					<li><a href="#">Tagalongs</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sell</a></li>
					<li><a href="{% url 'sign_up' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<h2>Samoas</h2>
			<p>A tasty treat isn't all that's involved with a box of our caramel and toasted coconut-covered cookies. Through interaction with each customer and other Girl Scouts, a girl learns the importance of keeping her word, doing the right thing, and being fair.</p>
			<img class="img-responsive" src="img/samoas.jpg" alt="Somoas" width="345" height="300"> 
		</div>

	</body>
</html>
