{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>Tagalongs</h2>
	<p>A layer of peanut butter with a rich chocolaty coating? Mouth-watering treats</p>
</div>

<div class="container">
	<h1>Listings</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Price</th>
				<th>Seller</th>
			</tr>
		</thead>
		<tbody>

			{% for cookie in listings %}
			{% if cookie.sold == False %}
			<tr>
				<td>${{ cookie.price }}</td>
				<td>{{ cookie.user }}</td>

				{% if user.is_authenticated %}
					<td><a href="/buy/{{ cookie.cookie_id }}/">Buy</a></td>
				{% else %}
					<td>Log in to purchase these cookies</td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
